<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhl.rx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.MovieActivity" />
        <activity android:name=".activity.RxJava2XActivity" />
        <activity android:name=".activity.GlideActivity" />
        <activity android:name=".activity.CustomViewGroupActivity" />
        <activity android:name=".activity.KotlinTest" />
        <activity android:name=".activity.CaptureImageActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zhl.rx.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.Lock_test" />
        <activity android:name=".activity.CustomViewTestActivity" />
        <activity android:name=".activity.Dagger2Activity" />
        <activity android:name=".activity.CaptureViewActivity" />
        <activity android:name=".activity.FloatImageViewTest" />
        <activity android:name=".activity.FloatDetailActivity" />
        <activity
            android:name=".activity.CoordinatorLayoutTest"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- <activity android:name=".activity.ShaderTextActivity"></activity> -->
        <activity
            android:name=".activity.EmojiTestActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.QRcodeImageShareActivity" />
        <activity android:name=".activity.CustomProgressBarActivity"></activity>
    </application>

</manifest>